www.easyretain.online {
    redir https://easyretain.online{uri} permanent
}

easyretain.online {
    root * /usr/share/caddy/dist

    route {
        handle_path /api/* {
            reverse_proxy backend:8000
        }

        handle {
            try_files {path} {path}/ /index.html
            file_server
        }
    }
}

admin.easyretain.online {
    root * /usr/share/caddy-admin/dist

    route {
        handle_path /api/* {
            reverse_proxy backend:8000
        }

        handle {
            try_files {path} {path}/ /index.html
            file_server
        }
    }
}